# Default ignored files
/shelf/
/workspace.xml
/report.html
tests/__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea/
*.iml
*.iws
*.ipr
*.log
*.tmp
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.vscode/
*.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
